[package]
name = "vade-tnt"
version = "0.0.1"
authors = ["Philip Kaiser <philip.kaiser@evan.team>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
chrono = { version = "0.4.11",  default-features = false, features=["wasm-bindgen", "js-sys"] }
# we need to compile ursa manually because the latest published crate (0.3.2) does not support wasm yet
ursa = { path = "./../ursa/libursa", features=["portable_wasm"], default-features = false }
# ursa = "0.3.2"
rand = "0.7.3"
serde_json = { version = "1.0.53", features = ["preserve_order", "raw_value"] }
serde = { version = "1.0", features = ["derive"] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4.5"
wee_alloc = { version = "0.4.5", optional = true }
sha3 = "0.8.2"
sha2 = "0.8.1"
libsecp256k1 = "0.3.5"
data-encoding = "2.2.0"
hex = "0.4.2"
log = "0.4.8"
regex = "1.3.7"
env_logger = "0.7.1"
reqwest = { version = "0.10.4", default-features= false}
twox-hash = "1.5.0"
byteorder = "1.3.4"
blake2-rfc = "0.2.18"
primitive-types = "0.7.2"
parity_scale_codec = { package ="parity-scale-codec", version = "1.3.0" }
sp-std = { version = "2.0.0-alpha.8", default-features = false }
frame-metadata = { version = "11.0.0-alpha.7", default-features = false}
sp-runtime-interface = { version = "2.0.0-alpha.7", default-features = false, features = ["disable_target_static_assertions" ]}
sp-runtime = { version = "2.0.0-alpha.8", default-features = false}
sp-arithmetic = { version = "2.0.0-alpha.8", default-features = false}
thiserror = { version = "1.0"}
sp-storage = { version = "2.0.0-alpha.8", default-features = false }
sp-core = { version = "2.0.0-alpha.8", default-features = false }
frame-support = { version = "2.0.0-alpha.8", default-features = false }
frame-system = { version = "2.0.0-alpha.8", default-features = false }
sp-io = { version = "2.0.0-alpha.8", default-features = false, features = ["disable_panic_handler", "disable_oom"] }
futures = "0.3.5"
web-sys = { version = "0.3.39", features = [
    'WebSocket',
    'Response',
    'EventTarget',
    'Event',
    'MessageEvent',
	'ErrorEvent',
    'console'
] }
js-sys = { version = "0.3" }
async-trait = "0.1.31"
vade = { path = "../vade", version = "0.0.6" }
simple-error = "0.2.1"
uuid = { version = "0.8.1", features = ["serde", "v4", "wasm-bindgen"] }
console_log = { version = "0.2", features = ["color"] }
wasm-timer = "0.2.4"


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
ws = { version = "0.7", features = ["ssl"] }

[dev-dependencies]
wasm-bindgen-test = "0.3.12"
tokio = { version = "0.2.21", features = ["macros", "rt-threaded"] }
vade-evan = { path = "../vade-evan", version = "0.0.5" }

